.small-text {
    font-size: 10px;
  }

.bible-text {
    font-family: 'minion pro';
}

.green {
    color: green;
}

.muted {
    color: #777;
}

.see-more {
    font-size: 11px;
  }