$body-bg-color: #ffffff;
$body-text-color: #000000;
$header-text-color: #000;
$nav-bg: #f9f9f9;
$nav-hover-bg: #ccc;
$nav-active-bg: #777;
$nav-text-color: #333;

$device-max-width-sm: 420px;

$form-width: 160px;